.main .track ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    height: 400px;
    width: 100%;
}

.main .track ul li {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    opacity: 0;
    transition: opacity .7s ease;
}

.main .track ul li:first-child {
    opacity: 1;
}

.main .track ul li img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
}

.main .track ul li:target {
    opacity: 1;
}

.slides,
.slides .slides2 {
    display: flex;
    margin-left: 20px;
}

.slides a,
.slides .slides2 a {
    border: 2px solid #fff;
    height: 100px;
}

.slides a img,
.slides .slides2 a {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-product img {
    width: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.description-product .text-orange {
    color: #FF4500;
    font-weight: bold;
    padding-top: 42px;
}

.description-product .variant-text {
    font-weight: bold;
}

.description-product .variant-warna {
    border: 1px solid rgba(0,0,0,.5);
    width: max-content;
    height: 50px;
    border-radius: 10px;
}

.description-product .variant-warna h6 {
    padding: 10px;
    font-weight: bold;
}

.description-product .btn-tambah {
    background: #FF4500;
    border: none;
    border-radius: 9px;
    font-weight: bold;
}

.description-product .btn-tambah:hover {
    background: #FF4500;
}