.breadcrumbs-icon {
    margin: 20px 0px;
}

.breadcrumbs-icon .icon {
    font-size: 17px;
    font-weight: bold;
}

.breadcrumbs-icon .icon {
    margin-left: 45px;
}

.breadcrumbs-icon .active {
    color: green;
}

.active-line {
    border-bottom: 3px solid green;
    width: 14%;
    margin: -4px 0px 0px 0px;
}

.home-line {
    border-bottom: 1px solid rgba(0,0,0,.5);
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.list-product {
    margin: 20px 0px;
}

.list-product .checked {
    color: orange;
}

.list-product span {
    color: rgba(0,0,0,.5);
}

@media (max-width: 1193px) {
    .active-line {
        width: 16%;
    }
}

@media (max-width: 969px) {
    .active-line {
        width: 20%;
    }

    .breadcrumbs-icon .icon {
        margin-left: 40px;
    }
}

@media (max-width: 763px) {
    .active-line {
        width: 27%;
    }

    .list-product .product-card {
        margin: auto;
    }
}

@media (max-width: 576px) {
    .active-line {
        width: 29%;
    }

    .breadcrumbs-icon .icon {
        margin-left: 10px;
    }

    .list-product .product-card .height-card {
        height: 480px !important;
    }
}

@media (max-width: 540px) {
    .breadcrumbs-icon .icon {
        margin-left: 40px;
    }
}

@media (max-width: 414px) {
    .breadcrumbs-icon .icon {
        margin-left: 20px;
    }
}