.brand {
    background: orange;
    width: 160px;
    height: 50px;
}

.brand h5 {
    font-weight: bold;
}

.icon-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    top: 23px;
    left: 72.8%;
}

.icon-cart p {
    margin-bottom: 0;
    margin-top: -2px;
    margin-left: 5px;
}

.icon-cart:hover {
    text-decoration: none;
}

a {
    color: rgba(0,0,0,.5) !important;
}

a:hover {
    text-decoration: none !important;
}