.brand {
    background: orange;
    width: 160px;
    height: 50px;
}

.brand h5 {
    font-weight: bold;
}

.search-input {
    max-width: 50%;
    margin-left: 10px;
}

.side-right {
    position: relative;
}

.side-right .icon {
    margin-left: 30px;
}

.side-right .font-icon {
    margin-right: 30px;
}

.side-right .icon-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    padding: 0px auto;
    font-size: 10px;
    position: absolute;
    left: 10%;
}

.side-right .icon-cart p {
    margin-bottom: 0;
    margin-top: -2px;
    margin-left: 5px;
}

.side-right .icon-cart:hover {
    text-decoration: none;
}

.side-right a {
    color: rgba(0,0,0,.5) !important;
}

.side-right a:hover {
    text-decoration: none !important;
}

.side-right .line {
    border: 1px solid #e0e0e0;
    height: 30px;
}

@media (max-width: 1138px) {
    .search-input {
        width: 40% !important;
    }
}

@media (max-width: 990px) {
    .search-input {
        width: 30% !important;
    }
}

@media (max-width: 867px) {
    .search-input {
        width: 20% !important;
    }
}

@media (max-width: 761px) {
    .item {
        margin-left: 10px;
        margin-top: 10px;
    }

    .search-input {
        width: 100% !important;
    }

    .side-right .icon {
        margin-left: 20px;
    }

    .side-right .icon-cart {
        left: 4%;
    }
}


/* @media (max-width: 957px) {
    .icon-cart {
        left: 61%;
    }
}

@media (max-width: 931px) {
    .icon-cart {
        left: 60%;
    }
}

@media (max-width: 915px) {
    .search-input {
        width: 25% !important;
    }

    .icon-cart {
        left: 59%;
    }
}

@media (max-width: 883px) {
    .icon-cart {
        left: 58%;
    }
}

@media (max-width: 863px) {
    .search-input {
        opacity: 0 !important;
    }

    .icon-cart {
        left: 57%;
    }
}

@media (max-width: 845px) {
    .icon-cart {
        left: 56%;
    }
}

@media (max-width: 819px) {
    .icon-cart {
        left: 55%;
    }
}

@media (max-width: 789px) {
    .icon-cart {
        left: 52%;
    }
}

@media (max-width: 765px) {
    .search-input {
        opacity: 1 !important;
        width: 100% !important;
        margin-left: 0px;
    }

    .icon-cart {
        left: 4%;
        top: 147px;
    }
}

@media (max-width: 360px) {
    .search-input {
        width: 100% !important;
    }

    .icon-cart {
        left: 4%;
        top: 147px;
    }
} */