.brand {
    background: orange;
    width: 160px;
    height: 50px;
}

.brand h5 {
    font-weight: bold;
}

.icon-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    padding: 0px auto;
    font-size: 10px;
    position: absolute;
    top: 21px;
    left: 69.6%;
}

.icon-cart p {
    margin-bottom: 0;
    margin-top: -2px;
    margin-left: 5px;
}

.icon-cart:hover {
    text-decoration: none;
}

a {
    color: rgba(0,0,0,.5) !important;
}

a:hover {
    text-decoration: none !important;
}

.line {
    border: 1px solid #e0e0e0;
    height: 30px;
}